html,
body,
#__next {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  min-height: 100vh; }

img {
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  color: #132440;
  text-align: left; }

h2 {
  text-align: left; }

h3 {
  text-align: left; }

p {
  text-align: left; }

nav,
header {
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  width: 100%; }

.nav-logo {
  height: 115px; }
  @media (min-width: 575px) {
    .nav-logo {
      height: 160px; } }

.nav-wrap {
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #407bd9));
  background: linear-gradient(90deg, white 50%, #407bd9 50%);
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .nav-wrap__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: auto;
    background-color: #407bd9; }

.nav-content-right {
  position: absolute;
  height: 100%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .nav-content-right__contact {
    display: none; }
    @media (min-width: 471px) {
      .nav-content-right__contact {
        display: block; } }

.nav-h3 {
  font-size: 1em;
  font-weight: 900;
  color: #132440;
  margin: 0;
  text-align: right;
  white-space: nowrap; }
  @media (min-width: 740px) {
    .nav-h3 {
      font-size: 1.8em; } }

.nav-p {
  margin: 0;
  text-align: right;
  color: #fafafa;
  font-size: 0.8em; }

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .nav-links__mobile, .nav-links__desktop {
    background-color: #fafafa;
    padding: 8px;
    width: auto;
    text-decoration: none;
    color: #132440;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    margin-left: 1px;
    white-space: nowrap;
    cursor: pointer; }
    .nav-links__mobile:hover, .nav-links__desktop:hover {
      background-color: rgba(250, 250, 250, 0.8); }

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 920px) {
    .nav-mobile {
      display: none; } }

.nav-desktop {
  display: none; }
  @media (min-width: 920px) {
    .nav-desktop {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.side-panel-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1; }
  .side-panel-overlay--visible {
    display: block;
    -webkit-animation: fade-in 0.3s linear forwards;
            animation: fade-in 0.3s linear forwards; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.side-panel {
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  margin: 0;
  list-style-type: none;
  z-index: 10;
  background-color: #fafafa;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .side-panel--open {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .side-panel__list-item {
    color: #132440;
    text-decoration: none;
    display: block; }
    .side-panel__list-item a {
      display: block;
      padding: 15px; }

.layout {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 960px; }

.footer__row {
  width: 100%;
  max-width: 960px;
  margin: 10px auto 30px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 700px) {
    .footer__row {
      padding: 0 5px; } }

.footer__dark-row {
  width: 100%;
  background-color: #233c66;
  color: #fafafa;
  padding: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__social-media p {
    margin: 0; }

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__social-icons--right {
    margin-left: 5px; }

.contact__layout {
  display: block;
  padding: 38px 10px 0; }
  @media (min-width: 700px) {
    .contact__layout {
      padding: 38px 5px 0; } }

.contact__h1 {
  margin-top: 0;
  font-size: 1.8em;
  font-weight: 600; }

.contact__row {
  display: block;
  padding-bottom: 15px; }
  @media (min-width: 700px) {
    .contact__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.contact__column {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 20px; }
  @media (min-width: 700px) {
    .contact__column {
      width: 50%; } }
  .contact__column--dark {
    background-color: #132440;
    color: #fafafa;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .contact__column--dark:hover {
      background-color: #407bd9; }
  .contact__column--border {
    border: 2px solid #407bd9; }

.form__input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  resize: none;
  margin: 15px 0 0;
  height: 35px;
  width: 100%;
  color: #132440;
  border: 1px solid #407bd9;
  padding: 5px; }
  .form__input--top {
    margin: 0; }

.form__text-area {
  height: 100px; }

.form__submit {
  background-color: #407bd9;
  color: #fafafa;
  cursor: pointer;
  font-size: 16px; }

.testimonials__layout {
  display: block;
  padding: 38px 10px 0;
  text-align: center; }
  @media (min-width: 800px) {
    .testimonials__layout {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 38px 5px 0; } }

.testimonials__h1 {
  margin-top: 0;
  font-size: 1.8em;
  font-weight: 600; }

.testimonials__column {
  display: inline-block; }
  .testimonials__column--right {
    padding-right: 15px; }

.testimonials__general {
  width: 100%;
  margin: 0 auto; }

.testimonials__working-on-machine {
  margin: 24px auto 15px; }

.testimonials__content-box {
  position: relative; }
  .testimonials__content-box:hover .testimonials__content-box-text {
    padding-bottom: 16px; }

.testimonials__content-box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(64, 123, 217, 0.9);
  color: rgba(255, 255, 255, 0.95);
  padding: 8px;
  -webkit-transition: padding-bottom .3s ease;
  transition: padding-bottom .3s ease; }
  .testimonials__content-box-text h2 {
    margin: 5px; }
  .testimonials__content-box-text p {
    margin: 5px 0; }

.fa-hammer,
.fa-toolbox,
.fa-cog {
  width: 20px;
  height: 20px; }

.fa-cog {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite; }

.fa-hammer {
  -webkit-animation: myHammering 6s linear infinite;
          animation: myHammering 6s linear infinite;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes myHammering {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  90% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes myHammering {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  90% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

